@{
    ViewBag.Title = "Herramientas";
}
<style>
    .Auth-Box
    {
        padding:10px;
    }
    .Auth-Box label
    {
        width:100px;
    }
</style>
<h1>Para iniciar Sesion en Solcon por favor ingrese sus credenciales</h1>
<form class="row Auth-Box">
    <div class="col-md-6 col-md-offset-4">
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" class="form-control"/><br />
         </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" /><br />
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</form>